* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
body {
  background-color: rgb(17, 17, 63);
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}
.head{
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid blueviolet;
  padding-bottom: 10px;
}
.head h1 {
  font-size: 120px;
  margin: 10px 0 25px;
}
.head .date {
  display: flex;
  justify-content: space-between;
}
.head h4 {
  font-size: 30px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 80px 30px 80px;
  width: 100%;
  grid-gap: 30px;
}
.cards .card {
  background-color: #fff;
  text-align: center;
}
.cards .card h3 {
  background-color: blueviolet;
  font-size: 25px;
  text-align: right;
  color: #fff;
  padding: 8px 5px 12px 0;
}
.cards .card span {
  display: block;
  font-size: 40px;
  padding: 40px 0;
}
.select {
  display: grid;
  place-content: center;
  padding-bottom: 30px;
}
.select select {
  font-size: 25px;
  font-family: inherit;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  background: none;
  color: #fff;
  padding: 0 10px;
}
.select option {
  background-color: rgb(17, 17, 63);
}